*{
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

#app {
  font-weight: normal;
  height: 100vh;
}

.container{
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 5%;
}